# =====================================
# 1. ignore everything by default
# =====================================
*

# =====================================
# 2. allow root scripts
# =====================================
!.gitignore
!prepare.bat
!clean.bat

# =====================================
# 3. allow scripts in _config directory
# =====================================
!_config/
!_config/*.ps1
