# =====================================
# 1. ignore everything by default
# =====================================
*

# =====================================
# 2. allow root scripts
# =====================================
!.gitignore
!install.bat
!uninstall.bat

# =====================================
# 3. allow scripts in _tools directory
# =====================================
!_tools/
!_tools/*
#!_tools/core/
!_tools/core/*
#!_tools/config/
!_tools/config/*.list.example


# =====================================
# 4. allow necessary tools
# =====================================
!ProgIDTool/
!ProgIDTool/*
!SetUserFTA/
!SetUserFTA/*