# Start menu configuration
# A list of Program Name -> Program executable -> Program icon (optional), tab-separated
# Relative paths are treated as relative to PORTABLE_ROOT
# Absolute paths in shortcuts are also allowed
# All these shortcuts will be created in a "Portable Tools" folder
AutoRuns			AutoRuns\Autoruns64.exe
BleachBit			BleachBit\bleachbit.exe
Bruno				Bruno\bruno.exe
CCleaner			CCleaner\CCleaner64.exe
ConEmu				ConEmu\ConEmu64.exe
Calc				OneLiners\calc.exe
CurrPorts			CurrPorts\cports.exe
Dependency Walker	DependencyWalker\depends.exe
Diffinity			Diffinity\Diffinity.exe
Double Commander	DoubleCmd\doublecmd.exe
DrawIO				DrawIO\draw.io.exe
FreeCAD 1.1 rc1		FreeCAD\FreeCAD_1.1rc1\FreeCAD.exe
FreeFileSync		FreeFileSync\FreeFileSync.exe
Ghidra				Ghidra\ghidra.bat		Ghidra\ghidra.ico
GIMP				GIMP\GIMPPortable.exe
GoldenDict			GoldenDict\GoldenDict.exe
H2TestW				H2TestW\h2testw.exe
HwInfo				HwInfo\HWiNFO64.exe
HxD					HxD\HxD64.exe
ImageUSB			ImageUSB\imageUSB.exe
Inkscape			Inkscape\bin\inkscape.exe
NAPS2				NAPS\NAPS2.Portable.exe
Notepad++			NPP\notepad++.exe
Process Explorer	OneLiners\procexp.exe
PuTTY portable		PuTTYPortable\putty.exe
RocketDock			RocketDock\RocketDock.exe
SourceGit			SourceGit\SourceGit.exe
SumatraPDF			SumatraPDF\SumatraPDF.exe
Total Commander		TotalCmd\TOTALCMD.exe
UsbDeview			UsbDeview\USBDeview.exe
UsbTreeView			UsbTreeView\UsbTreeView.exe
VSCode				VSCode\Code.exe
VSCodium			VSCodium\VSCodium.exe
WindTerm			WindTerm\WindTerm.exe
WinSCP				WinSCP\WinSCP.exe
