# env var name -> value, tab-separated
PORTABLE_ROOT	$BASE$
GOPATH			$BASE$\Go\gopath
TOOLCHAINS_ROOT	$BASE$\Toolchains
RUSTUP_HOME		$BASE$\Rust\rust
CARGO_HOME		$BASE$\Rust\cargo
RUST_PATH		$BASE$\Rust\cargo\bin
MINGW_PATH		$BASE$\Toolchains\mingw64\bin
GIT_PATH		$BASE$\Git\cmd